flask
requests
beautifulsoup4
lxml
colorgram.py
prettytable
opencv2
numpy
pandas
json
html
turtle
tkinter
signal
subprocess
smtplib
twillio.rest
pytube
curses
pyperclip
decimal
math
sys
time
os
platform
pprint
fernet.cryptography
ttkbootstrap
